

.footer {
  position: fixed;
  bottom: 0;
  height: 65px;
  background-color: #282828;
  width: 100%;
  color: #fafafa;
  padding: 20px;
  display: flex;
  justify-items: center;
  align-items: center;

}


.footer__center {

  padding: 0 100px;
  width:80%;
  display: flex;
  justify-content: center;
  align-content: center;



}

.footer_green,
.MuiSlider-root {
  color: #1ed15e !important;
}
.MuiSlider-root {
  padding: 0 !important;
}

.body {
  padding: 30px;
  height: 80vh;
  overflow-y:scroll;
  flex: 0.8;
  color: #fafafa;
  background: linear-gradient(rgb(55, 23, 94), rgb(0, 0, 0)) ;
  /* original 
  linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1)); */
  /* linear-gradient(rgb(10, 8, 13), rgb(30, 209, 94)) */
  
}

.SideBar {
  height: 100vh;
  background-color: rgb(153, 37, 37);
  flex: 0.2;
  background-color: #040404;
  color: #fafafa;
  min-width: 200px;
  padding-left: 10px;
  padding-right: 10px;
}

.SideBar > img {
  padding: 20px;
}
.SideBar > hr {
  border: 1px solid #282828;
  margin: 10px auto;
  width: 90%;
}

.option {
  height: 40px;
  color: grey;
  cursor: pointer;
  transition: 200ms color ease-in;
  display: flex;
  align-items: center;
}

.option:hover {
  color: #fafafa;
}



.option__Icon {
  padding-right: 10px;
  padding-left: 10px;
}
.option__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.option > p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 14px;
}

.footer_icon,
.footer_green {
  cursor: pointer;
}

.footer_icon:hover,
.footer_green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header__left {
  min-width: 70px;
  flex: 0.5;
  background-color: #fafafa;
  color: grey;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
}
.header__left > input {
  border: none;
  width: 70%;
}
.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
.body__infoText {
  flex: 1;
}

.body__info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText > p {
  font-size: 14px;
}

.body__songs {
  z-index: 1;
  margin: 20px -30px;
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__shuffle {

  cursor: pointer;
}
.body__shuffle:hover {
  transition: 0.1s transform ease-in;
  transform: scale(1.14);
}

.songRow {
  margin-left: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info > h1 {
  font-size: 16px;
}

.songRow__info > p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 40px;
  width: 40px;
}

.songRow_left {
  display: flex;
  flex: 0.6;
}
.songRow_left >img {
    width: 35px;
    margin-left: 20px;
}

.songRow__right {
  flex: 0.4;
}

.songRowClicked {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

